body {
  overflow-x: hidden;
  @include body-font;
}
a {
  color: $brand-primary;
  a:hover,
  a:focus,
  a:active,
  a.active {
    color: darken($brand-primary, 10%);
    outline: none;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
}
p {
  font-size: 14px;
  line-height: 1.75;
  &.large {
    font-size: 16px;
  }
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: $gray-lighter;
}
.bg-darkest-gray {
  background-color: $gray-darkest;
}

// Restyled Primary Buttons
.btn-primary {
  @include button-variant(white, $brand-primary, $brand-primary);
  font-weight: 700;
  &:hover{
    @include button-variant(white, darken($brand-primary,3%), $brand-primary);

  }
  &:active,
  &:focus {
    @include button-variant(white, darken($brand-primary,7%), $brand-primary);
  }
}
.btn-xl {
  @include button-variant(white, $brand-primary, $brand-primary);
  @include heading-font;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.text-muted {
  color: $gray;
}
.text-primary {
  color: $brand-primary;
}
