<footer>
    <div class="container text-center">
        <p>FioraBikes &copy; - All rights reserved</p>
        <p>Developed by
            <a href="http://cgeosoft.com">cgeosoft</a>
        </p>
    </div>
</footer>