<footer>
    <div class="container text-center">
        <p>FioraBikes &copy; 2018 - All rights reserved</p>
        <p>developed by
            <a href="http://cgeosoft.com" target="_blank">cgeosoft</a>
        </p>
    </div>
</footer>