<!-- Masthead-->
<header class="masthead" id="about">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <img class="mb-4" src="/img/logo_big.png" alt="">
                <h1 class="text-white font-weight-bold">{{title}}
                </h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-3">
                    We are 3 brothers and one sister that decided to follow our passion for bikes!!!
                </p>
                <p class="text-white-75 font-weight-light mb-3">
                    We provide bike rental service in Kefalonia island and our base is in Trapezaki area, which is
                    at the south part of Kefalonia.
                </p>
                <p class="text-white-75 font-weight-light mb-3">
                    We deliver bikes to hotels, rooms and villas all over the island.The delivery is free to the
                    airport and to hotels , villas and rooms in a distance less than 15 kms from Trapezaki area.
                </p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#contact">Reserve your Bike</a>
            </div>
        </div>
    </div>
</header>