<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">Our Bikes</h2>
        <hr class="divider my-4" />

        <div class="row">
            {{#each bicycles.items }}
            <div class="col-md-4 col-sm-6 intro-item">
                <img class="rounded img-fluid mb-4" src="{{{image}}}" alt="{{{title}}}">
                <h4 class="intro-heading">{{{title}}}</h4>
                <p class="intro-description">{{{description}}}</p>
            </div>
            {{/each}}
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <table class="table mb-5">
                    <thead>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="text-center">Cube AimPro</td>
                            <td class="text-center">Ideal Nergetic</td>
                            <td class="text-center">Ideal Citylife</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="text-right">1 day</th>
                            <td class="text-center">15 €</td>
                            <td class="text-center">10€</td>
                            <td class="text-center">10€</td>
                        </tr>
                        <tr>
                            <th class="text-right">2 days</th>
                            <td class="text-center">30€</td>
                            <td class="text-center">20€</td>
                            <td class="text-center">20€</td>
                        </tr>
                        <tr>
                            <th class="text-right">3 days</th>
                            <td class="text-center">45€</td>
                            <td class="text-center">30€</td>
                            <td class="text-center">30€</td>
                        </tr>
                        <tr>
                            <th class="text-right">4 days</th>
                            <td class="text-center">60€</td>
                            <td class="text-center">40€</td>
                            <td class="text-center">40€</td>
                        </tr>
                        <tr>
                            <th class="text-right">5 days</th>
                            <td class="text-center">70€</td>
                            <td class="text-center">48€</td>
                            <td class="text-center">48€</td>
                        </tr>
                        <tr>
                            <th class="text-right">6 days</th>
                            <td class="text-center">80€</td>
                            <td class="text-center">56€</td>
                            <td class="text-center">56€</td>
                        </tr>
                        <tr>
                            <th class="text-right">7 days</th>
                            <td class="text-center">90€</td>
                            <td class="text-center">64€</td>
                            <td class="text-center">64€</td>
                        </tr>
                        <tr>
                            <th class="text-right">extra day</th>
                            <td class="text-center">10€</td>
                            <td class="text-center">8€</td>
                            <td class="text-center">8€</td>
                        </tr>
                    </tbody>
                </table>
                
                <h4>Extras</h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="text-right" style="width:200px">baby seat for bike</th>
                            <td class="">2€/day</td>
                        </tr>
                        <tr>
                            <th class="text-right" style="width:200px">side bag</th>
                            <td class="">1€/day</td>
                        </tr>
                        <tr>
                            <th class="text-right" style="width:200px">helmet</th>
                            <td class="">free</td>
                        </tr>
                        <tr>
                            <th class="text-right" style="width:200px">bike lock</th>
                            <td class="">free</td>
                        </tr>
                        <tr>
                            <th class="text-right" style="width:200px">inner tube</th>
                            <td class="">free</td>
                        </tr>
                        <tr>
                            <th class="text-right" style="width:200px">tool change</th>
                            <td class="">free</td>
                        </tr>
                        <tr>
                            <th class="text-right" style="width:200px">led lights</th>
                            <td class="">free</td>
                        </tr>
                        <tr>
                            <th class="text-right" style="width:200px">hand air pump</th>
                            <td class="">free</td>
                        </tr>
                        <tr>
                            <th class="text-right" style="width:200px">bottle cage</th>
                            <td class="">free</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div class="text-center">

<img class="img-fluid" src="/img/banners/03.jpg" alt="">
</div>